/*全屏*/
.jd_category{
	position: fixed;
	width: 100%;
	height: 100%;
}

/*顶部通栏*/
.jd_topBar{
	width: 100%;
	height: 0.45rem;
	border-bottom: 0.01rem solid #ddd;
	background: url(../img/header-bg.png)repeat-x;
	background-size: 0.01rem 0.44rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
.jd_topBar a{
	width: 0.4rem;
	height: 0.44rem;
	position: absolute;
	top: 0;
	padding: 0.12rem 0.1rem;
	background-origin: content-box;
	background-clip: content-box;
}
.jd_topBar .icon_back{
	left: 0;
	background-position: -0.2rem 0;
}	
.jd_topBar .icon_menu{
	right: 0;
	background-position: -0.6rem 0;
}
.jd_topBar form{
	width: 100%;
	padding: 0 0.4rem;
}
.jd_topBar form input{
	width: 100%;
	height: 0.3rem;
	border: 0.01rem solid #ddd;
	border-radius: 0.02rem;
	margin-top: 0.07rem;
	padding-left: 0.1rem;
}
/*主题容器*/
.jd_main{
	width: 100%;
	height: 100%;
	padding-top: 0.45rem;
}
/*左侧*/
.cate_left{
	width: 0.9rem;
	height: 100%;
	float: left;
}
.cate_left ul{
	width: 0.9rem;
}
.cate_left ul li{
	width: 100%;
	height: 0.5rem;
	text-align: center;
	line-height: 0.5rem;
	background: #f3f4f6;
	border-right: 0.01rem solid #ccc;
	border-bottom: 0.01rem solid #ccc;
	font-size: 0.12rem;
}
.cate_left ul li a{
	display: block;
}
.cate_left ul li.now{
	border-right: none;
	background: #fff;
}
.cate_left ul li.now a{
	color: #D8505C;
}
.cate_right{
	overflow: hidden;
	height: 100%;
}
 .cate_right_box{
	width: 100%;
	padding: 0 0.1rem;
}
 .cate_right_box .banner{
	margin-top: 0.1rem;
	width: 100%;
	display: block;
}
.cate_right_box .banner img{
	display: block;
	width: 100%;
}
.cate_right_box .hot_category{
	margin-top: 0.1rem;
}
.cate_right_box .hot_category h3{
	font-size: 0.12rem;
}
.cate_right_box .hot_category ul{
	width: 100%;
	padding: 0.1rem;
}
.cate_right_box .hot_category ul li{
	width: 33.3333%;
	float: left;
}
.cate_right_box .hot_category ul li a{
	width: 100%;
	display: block;
}
.cate_right_box .hot_category ul li a img{
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	margin: 0 auto;
}
.cate_right_box .hot_category ul li a p{
	text-align: center;
	padding: 0.05rem;
	font-size: 12px;
	color: #666;
}






















